<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened">
    Aca van los botones
    <div>
      <mat-card>
        <button color="primary" mat-raised-button (click)="isClicked()">
          <i class="fas fa-car-side"></i>
        </button>

        <button mat-button color="primary">
            <i class="fas fa-bicycle"></i>
        </button>
      </mat-card>

      <p class="mat-spacer"></p>

      <mat-card>
        <button mat-button>All</button>
        <button mat-raised-button>Of</button>
        <button mat-raised-button color="primary">The</button>
        <button mat-raised-button color="accent">Buttons</button>
      </mat-card>

    </div>
  </mat-sidenav>


  <mat-sidenav-content>
    <p>
      Toolbar abierta: {{opened}}
    </p>
    <p>
      <button color="primary" mat-button (click)="sidenav.toggle()">
          <i class="fas fa-bars"></i>
      </button>
    </p>
  </mat-sidenav-content>
</mat-sidenav-container>