@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

mat-sidenav, mat-sidenav-content {
    padding: 16px;
    color: #000000;
}

.mat-drawer-container{
    padding-bottom: 100%;
}

.mat-drawer{
    background-color: blueviolet;
}