.drawer-usuario-buttons{
    padding: 25px;
    width: 300px;
  }
  .drawer-container {
    height: 100%;
    max-height: 80%;
  }
  
  .drawer-content {
    padding-top: 20px;
  }
    
  .mat-title {
    text-align: center !important;
    padding-top: 25px;
  }
  
  .full-width {
    width: 100%;
  }