.drawer-example{
  padding: 20px;
  width: 300px;
}

.drawer-container {
  height: 448px;
}

.drawer-content {
  padding-top: 20px;
}

.container-mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

#nivel-mapa {
  background-color: #4CAF50;
  width: 600px;
  height: 410px;
}

.full-width {
  width: 100%;
}
