<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" class="drawer-example" opened >
    <form [formGroup]="dimensionForm" novalidate (ngSubmit)="onSubmit()">
    <p>
      <mat-form-field class="full-width" >
        <mat-label>Ancho</mat-label>
        <input matInput placeholder="Ancho (mts)" type="number"  formControlName="ancho">
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="full-width" >
        <mat-label>Alto</mat-label>
        <input matInput placeholder="Alto (mts)" type="number"  formControlName="alto">
      </mat-form-field>
    </p>
    <div class="centered-container form-buttom">
     <button mat-raised-button color="primary" type="submit" [disabled]="isDisabled()">Guardar</button>
    </div>
    </form>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile><button mat-fab color="primary" (click)="draw()">
        <fa-layers>
          <fa-icon [icon]="['fas', 'car-side']" size="2x" transform="left-7"></fa-icon>
          <fa-icon [icon]="['fas', 'parking']"  size="lg" transform="shrink-6 right-12 up-9"></fa-icon>
        </fa-layers>
      </button></mat-grid-tile>
      <mat-grid-tile><button mat-fab color="primary">
        <fa-layers>
          <fa-icon [icon]="['fas', 'motorcycle']" size="2x" transform="left-8"></fa-icon>
          <fa-icon [icon]="['fas', 'parking']"  size="lg" transform="shrink-6 right-14 up-9"></fa-icon>
        </fa-layers>
      </button></mat-grid-tile>
      <mat-grid-tile><button mat-fab color="primary">
        <fa-layers>
          <fa-icon [icon]="['fas', 'shuttle-van']" size="2x" transform="left-8"></fa-icon>
          <fa-icon [icon]="['fas', 'parking']"  size="lg" transform="shrink-6 right-14 up-9"></fa-icon>
        </fa-layers>
      </button></mat-grid-tile>
      <mat-grid-tile><button mat-fab color="primary">
        <fa-layers>
          <fa-icon [icon]="['fas', 'wheelchair']" size="2x" transform="left-4"></fa-icon>
          <fa-icon [icon]="['fas', 'parking']"  size="lg" transform="shrink-6 right-12 up-9"></fa-icon>
        </fa-layers>
      </button></mat-grid-tile>
    </mat-grid-list>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <div class="centered-container">
      <canvas id="nivel-mapa"></canvas>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
