<div class="centered-container" >
  <div class="canvas">
          <div class="nivel-usuario-container">
              <div class="ocupado"> 1
              </div>

              <div class="ocupado"> 2
              </div>

              <div class="libre"> 3
              </div>

              <div class="ocupado"> 4
              </div>

              <div class="libre"> 5
              </div>

              <div class="libre"> 6
              </div>

              <div class="libre"> 7
              </div>

              <div class="libre"> 8
              </div>
          </div>
  </div>
</div>