.nivel-usuario-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:270px;
}

#espacios div{
    border-style: dashed;
    padding: 40px;
    z-index: 1;
}

.ocupado{
    background-color: red;
}

.libre{
    background-color: green;
}

#capa-principal {
    position: absolute;
    z-index: 0;
    background-color: #4CAF50;
    justify-content: center;
}