#park-admin-logo {
  margin: 8px;
}

.title-spacer {
  flex: 1 1 auto;
}

.buttom-spacer {
  padding-left: 20px;
}

.paginator-font {
  font-size: medium;
}

.mat-paginator {
    background-color: #212121;
}

.nivel-footer {
  text-align: center;
  align-content: center;
  float: right;
  justify-content: center;
}

.nivel-footer-container{
  display: flex;
}
