<mat-toolbar>
  <img src="assets/pa_logo.png" id="park-admin-logo" alt="ParkAdmin logo" width="50px">
  <span>ParkAdmin</span>
  <span class="title-spacer"></span>
  <span class="paginator-font">{{nivelSeleccionado.numero}} nivel de {{CantDeNiveles}} </span>
  <button mat-icon-button color="primary" matTooltip="Anterior">
    <fa-icon [icon]="['fas', 'arrow-circle-left']" size="lg"></fa-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Siguiente">
    <fa-icon [icon]="['fas', 'arrow-circle-right']" size="lg"></fa-icon>
  </button>
  <span class="buttom-spacer"></span>
  <button mat-icon-button color="primary" matTooltip="Agregar nivel">
    <fa-icon [icon]="['fas', 'plus-circle']" size="lg"></fa-icon>
  </button>
  <button mat-icon-button color="primary" matTooltip="Eliminar nivel">
    <fa-icon [icon]="['fas', 'minus-circle']" size="lg"></fa-icon>
  </button>
</mat-toolbar>
<app-nivel [nivel]="nivelSeleccionado"></app-nivel>
