.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:270px;
}

%capa-base {
  position: absolute;
}


#capa-efectos {
  @extend %capa-base;
  z-index: 1;
}

#capa-principal {
  @extend %capa-base;
  z-index: 0;
  background-color: #4CAF50;
}
