/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.drawing{
  cursor:url('https://img.icons8.com/material/48/000000/car.png'), auto;
}

.notDrawing{
  cursor: default;
}